html {
  font: 400 18px/1.55 -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  background-color: #2C2A28;
  color: #DFDFDF;
}

.container {
  max-width: 50rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

// -------------------------------------
// Header
header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.site-title {
  font-size: 2.5rem;
  color: #f9f9f9;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

// -------------------------------------
// Content
.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1.5rem;

  a {
    color: #f9f9f9;
    text-decoration: none;
  }
}

.post-date {
  color: #9a9a9a;
}

.post-content {
  margin-top: 1.5rem;
}

h2 {
  margin-top: 3rem;
}

pre {
  padding: 1em;
}

a {
  color: #579df8
}

// -------------------------------------
// Footer
footer {
  margin-top: 6em;
  margin-bottom: 3em;
  text-align: center;
  color: #BBC7CC;
}

footer a {
  color: #BBC7CC;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 1rem;
}

// -------------------------------------
// Code
code.highlighter-rouge {
  padding: 3px 6px;
  border-radius: 8px;
  background-color: #211f1e;
  border: 0.5px solid var(#3C3A38)
}